<a href="https://colab.research.google.com/github/sid781/Web_scraping/blob/main/goibibo_hotel_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# https://www.goibibo.com/robots.txt
# To check the acess

# target url to scrap
url = "https://www.goibibo.com/hotels/hotels-in-shimla-ct/"

In [3]:
# http://httpbin.org/get  
# to get the headers of user-agent
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.85 Safari/537.36 Edg/90.0.818.49" 
}

In [4]:
# send requests to download the data
response = requests.request("GET", url, headers=headers)

In [5]:
# parse the downloaded data
data = BeautifulSoup(response.text, 'html.parser')

In [181]:
# name_data = data.find_all('div',attrs={'class':'HotelCardstyles__HotelNameWrapperDiv-sc-1s80tyk-12 biniNQ'})
# price_data = data.find_all('div',attrs={'class':'HotelCardstyles__CurrentPriceTextWrapper-sc-1s80tyk-27 eqtvkm'})
help(data.find_all)

Help on method find_all in module bs4.element:

find_all(name=None, attrs={}, recursive=True, text=None, limit=None, **kwargs) method of bs4.BeautifulSoup instance
    Extracts a list of Tag objects that match the given
    criteria.  You can specify the name of the Tag and any
    attributes you want the Tag to have.

    The value of a key-value pair in the 'attrs' map can be a
    string, a list of strings, a regular expression object, or a
    callable that takes a string and returns whether or not the
    string matches for some custom definition of 'matches'. The
    same is true of the tag name.

In [6]:
#print(len(name_data))
#print(len(price_data))

In [7]:
hotel_info = data.find_all('div', attrs={'class':'HotelCardstyles__HotelInfoWrapperDiv-sc-1s80tyk-8 cnUUXW'})

In [8]:
print(len(hotel_info))

40

In [9]:
hotel_price = data.find_all('div', attrs={'class':'HotelCardstyles__HotelPricingInfoWrapperDiv-sc-1s80tyk-18 yvBI'})

In [10]:
print(len(hotel_price))

40

In [11]:
scraped_data = []
for card in list(zip(hotel_info, hotel_price)):

  card_data={}
  card_data['Hotel Name'] = card[0].find('a').text
  card_data['Discount'] = card[1].find('div', attrs={'class': 'OfferTagstyles__PercentageOffWrapperDiv-sc-16zl30v-10 bqOixo'})
  card_data['Ratings'] = card[0].find('span', attrs={'class': 'ReviewAndRatingsstyles__AverageReviewText-sc-1nxmeoo-8 jzSqUD'})
  card_data['Room Price'] = card[1].find('p', attrs={'class':'HotelCardstyles__CurrentPrice-sc-1s80tyk-28 inUyrJ'}).text
  
  scraped_data.append(card_data)

In [12]:
df = pd.DataFrame.from_dict(scraped_data)
df

                                          Hotel Name  ... Room Price
0     Rocky Knob (Explore World Art in One Property)  ...       2645
1                                Snow Valley Resorts  ...       3420
2                                       Hotel Dhroov  ...       3521
3       OYO 1706 Hotel The Alpine Heritage Residency  ...       3812
4                                  Meena Bagh Shimla  ...       7231
5                               Radisson Jass Shimla  ...      15300
6       Marina- Shimla First Designer Boutique Hotel  ...       9526
7                                         Snow Lotus  ...       3085
8                      Bridge View Regency Mall road  ...       3428
9                             Frosty Woods Home Stay  ...       1800
10                          Goldenfern Resort Shimla  ...       4407
11                                  Torrentium Lodge  ...       2398
12                                   Hotel Sidharath  ...       1888
13                                     Honeymoon Inn  ...       6000
14                               Vaishnavi Home Stay  ...       1599
15                                 Nirvana Rooms B&B  ...       3200
16                                      Marley Villa  ...      12000
17                   Kalawati Homes Vacation Rentals  ...       5550
18                                 The Oaktree House  ...       4785
19                             Zostel Homes Mashobra  ...       3246
20                               Hotel Chaman Palace  ...       2360
21                                    Resort Eutopia  ...       2469
22                                Hotel Willow Banks  ...       7507
23                                    Royale Retreat  ...       6217
24                         Ashiana Clarks INN Shimla  ...       3087
25                                         Solo Home  ...       1800
26                                    The Zion Hotel  ...       5608
27  Clarkes Hotel, A grand heritage hotel since 1898  ...       8500
28                                  Woodville Palace  ...       5125
29                             Harmony Purple shimla  ...       2117
30                 OYO 78531 Valley view Vohra Homes  ...       3296
31                                Sukh Sagar Regency  ...       2909
32                            Hotel CK International  ...       3908
33                                       Hotel Kapil  ...       1250
34                                        New Cosmos  ...       2931
35                          Hotel Le Talbot The Mall  ...       3116
36                  Ballyhack Cottage by Vista Rooms  ...      10080
37                        CITY VIEW SHIMLA Home Stay  ...       2000
38                                     Hotel Sangeet  ...       2832
39                                  Pine Tree Shimla  ...       3000

[40 rows x 4 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Hotel Name  40 non-null     object
 1   Discount    30 non-null     object
 2   Ratings     37 non-null     object
 3   Room Price  40 non-null     object
dtypes: object(4)
memory usage: 1.4+ KB